<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pages Of Turmoil</title>
    <link rel="stylesheet" href="css/search.css">
</head>
<body>
    <div class="header">
        <div class="left">Pages of Turmoil</div>
        <div class="right">
            <div class="link">
                <a href=<%- `${origin}/bot` %>>Bot</a>
            </div>
            <div class="link">
                <a href=<%- `${origin}/home` %>>Home</a>
            </div>
            <div class="link">
                <a href=<%- `${origin}/search` %>>Search</a>
            </div>
            <div class="link">
                <a href=<%- `${origin}/logout` %>>Logout</a>
            </div>
        </div>
    </div>
    <div class="content">
        <form action=<%- `${origin}/search` %>  method="post">
            <div id='header'>Enter Search Parameter and String</div>
            <div class="parameter">
                <label for="parameter">Parameter</label>
                <select name="parameter" id="parameter">
                    <option value="name">Name</option>
                    <option value="author">Author</option>
                </select>
            </div>
            <input type='text' placeholder='Value' name="value" required/>
            <button type='submit'>Submit</button>
        </form>
        <% if (locals.book) { %>
            <div class="book">
                <div class="book-header">
                    <div class="book-id" hidden><%- book._id %></div> <!--  do we need this? -->
                    <div class="book-title"><%- book.name %></div>
                    <div class="book-author">- <%- book.author %></div>
                </div>
                <div class="book-desc"><%- book.description %></div>
                <div class="button">Read Now</div>  <!-- Need to add functionality -->
            </div>
        <% } %>
        <% if (locals.error) { %>
            <%- locals.error %>
        <% } %>
    </div>
</body>
</html>